@model HotelReservationSystem.Areas.Customers.Models.AnationsBookingWid

<div>
    <h4>Previous Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hotel_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotel_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booking_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_checkin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_checkin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_checkout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_checkout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.no_adult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.no_adult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.no_child)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.no_child)
        </dd>

    </dl>
</div>

